GOOGLE_API_KEY=<google-api-key>
SEARCH_API_KEY=<tavily-search-api-key>
OPENROUTER_API_KEY=<openrouter-api-key>
CLOUDINARY_CLOUD_NAME=<cloudinary-cloud-name>
CLOUDINARY_API_KEY=<cloudinary-api-key>
CLOUDINARY_API_SECRET=<cloudinary-api-secret>